*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

.thread {
    padding-top: 1rem;
}

.post {
    padding-top: 1rem;
}
.like {
    font-size: .8rem;
    padding-left: 1rem;
}

.user {
    font-size: .8rem;
}

.body {
    font-size: 1rem;
}

#container2 {
    display: flex;
}