
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/home.css">

    <title>Book Social</title>
  </head>
  <body>
  {% csrf_token %}
  <div id="app">

    <nav id='navbar'>
      <div>
        <h1 class='primary'>Book Social</h1>
        <h5 class='intro'>The home for bibliophiles.</h5>
      </div>
      <div class='userinfo'>
        {% if user.is_authenticated %}
        <p class='welcome'>Welcome, <span><a href="{% url 'users:profile' user.username %}">{{user.username}}</a></span></p>
        <a class='logoutLink' href="{% url 'logout' %}">Logout</a>
        {% endif %}
      </div>
    </nav>
    
    {% block content %}
    {% endblock %}

  </div>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

      <script src="{% static '/app.js' %}"></script>

      <script>
        const mountApp = app.mount('#app')
      </script>

  </body>
</html>