{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/home.css">


{% if user.is_authenticated == False%}
  <p>Please <span><a href="{% url 'login' %}">login</a></span> or <span><a href="{% url 'users:signup' %}">signup</a></span>. 
{% endif %}


  <div class='thread'>
    {% for post in object_list %}

      <div class="post">
        <p class='main'>
          title: {{post.title}}
        </p>
        <p class='body'>
        body: {{post.body}}
      </p>
      <div id='container2'>
        <p class='user'>
        author: {{post.user}}
      </p>
      
      <p class='like'>
      <button type='submit' @click='like()'>like</button>
      Likes: [[counter]]</p>
      </div>
        {% if threads.user.username == users.username %}
          <button onclick="'threads:delete'">Delete
        {% endif %}
        
      </div>

    {% endfor %}
  </div>


{% endblock %}