{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/home.css">


{% if user.is_authenticated == False%}
  <p>Please <span><a href="{% url 'login' %}">login</a></span> or <span><a href="{% url 'users:signup' %}">signup</a></span>. 
{% endif %}


  <div class='thread'>
    {% for post in object_list %}

      <div class="post">
        <p class='main'>
          title: {{post.title}}
        </p>
        <p class='body'>
        body: {{post.body}}
      </p>
        <p class='user'>
          author: {{post.user}}
        </p>
        {% if threads.user.username == users.username %}
          <button><a href="{% url 'threads:edit' post.pk %}">Edit Thread
          </a></button>
          <button><a href="{% url 'threads:delete' post.pk %}">Delete Thread
          </a></button>
        {% endif %}
        
      </div>

    {% endfor %}
  </div>


{% endblock %}